* {
    margin: 0%;
    padding: 0%;
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Noto Sans KR", sans-serif;
}

.body {
    background-image: url("../../img/Fondo.png");
    background-size: cover;
    /* opacity: 70%; */
    padding: 0%;
    margin: 0%;
}

/* Propiedades de los input que se eliminan */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    padding: 0%;
}

input[type="password"] {
    -moz-appearance: textfield;
}

input[type="checkbox"]::-webkit-inner-spin-button,
input[type="checkbox"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0%;
    padding: 0%;
    border-radius: 0.3vw;
    background-color: #119200;
    border-color: #bb2929;
}

input[type="checkbox"] {
    background-color: #119200;
    border-color: #bb2929;
    
    cursor: pointer;
    /* default */

    border-radius: 0.3vw;
    appearance: auto;
    box-sizing: content-box;
    margin: 0%;
    padding: 0%;
    border: #bb2929;
    writing-mode: horizontal-tb !important;
    color: #119200;
    /* fieldtext */
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

/* Aqui inicia la parte del HEADER */
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    max-height: 13vh;
    height: 13vh;
    justify-content: center;
    align-items: center;
}

.sub_header {
    background-color: white;
    display: flex;
    flex-direction: row;
    max-width: 98%;
    max-height: 90%;
    width: 98%;
    height: 90%;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
}

/* Logo */
.c_logo {
    display: flex;
    flex-direction: column;
    max-width: 10%;
    max-height: 100%;
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
}

.logo {
    max-width: 70%;
    max-height: 80%;
    width: 70%;
    height: 80%;
}

/* Parte de formulario de iniciar sesion */
.form_iniciar {
    width: 79%;
    max-width: 79%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* flex-wrap: wrap; */
}

.c_sub_form {
    max-width: 100%;
    max-height: 40%;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 30%;
    max-width: 100%;
    height: auto;
    gap: 3%;
    justify-content: center;
    align-items: center;
}

.c_sub_form2 {
    max-width: 32%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    width: 30%;
    height: auto;
    gap: 20%;
    justify-content: flex-end;
    align-items: center;
}

.c_par {
    width: 35%;
    max-width: 35%;
    height: 50%;
    max-height: 50%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
    justify-content: center;
}

.c_par2 {
    width: 35%;
    max-width: 35%;
    height: 50%;
    max-height: 50%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
    justify-content: center;
}

.c_btn_iniciar {
    max-width: 12%;
    max-height: 100%;
    display: flex;
    width: 12%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.btn_iniciar {
    width: 80%;
    height: 40%;
    max-width: 80%;
    max-height: 40%;
    background-color: #24303c;
    color: white;
    padding: 0%;
    border-color: transparent;
    border-width: 0.01vw;
    text-align: center;
    font-size: calc(1vh + 1vw);
    border-radius: 1.1vw;
}

.boton {
    width: 18%;
    height: 60%;
    background-color: transparent;
    text-align: center;
    font-size: calc(0.7vh + 0.7vw);
    transition-duration: 0.4s;
    border-width: 0.2vw;
    border-color: #44b844;
    border-radius: 0.2vw;
    padding: 0%;
    margin: 0%;
}

.boton:hover {
    background-color: #44b844;
}

.letrapeq {
    font-size: calc(1vh + 1vw);
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    margin: 0%;
    /* Muestra el puntero con la forma de seleccionar */
    cursor: pointer;
}

.color_verde {
    color: #44b844;
}

/* Contenedor grande que contiene en medio al contenedor de color blanco del registro */
.c_form {
    display: flex;

    width: 100%;
    height: 87vh;
    max-width: 100%;
    max-height: 87vh;
    justify-content: center;
    align-items: center;
}

.form_registro {

    max-width: 50%;
    max-height: 95%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    color: black;
}

.c_sub_reg {
    max-height: 14%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 14%;
    max-width: 100%;
    gap: 3%;
    justify-content: center;
    align-items: center;
}

/* Contenedor de REGISTRARTE letra */
.c_txt_registrar {
    /* background-color: #24303c; */
    width: 100%;
    height: 17%;
    max-width: 100%;
    max-height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letragra {
    height: 90%;
    width: auto;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: calc(2.8vh + 2.8vw);
}

.sub_form_registrar {
    /* background-color: #324bb2; */
    height: 50%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2%;
}

/* Texto que esta al lado de cada input */
.txt_input {
    display: flex;
    flex-direction: row;
    width: 30%;
    max-width: 60%;
    justify-content: flex-end;
}

/* Caja para los Inputs de INICIO SESION */
.input_ini {
    width: 100%;
    height: 50%;
    background-color: transparent;
    border-radius: 0.5vw;
    font-size: calc(0.9vh + 0.6vw);
    border-color: #44b844;
    border: 0.4vh solid #44b844;
    /* Cosasa nuevas que le agregue para las alertas */
    position: relative;
    transition: 0.3s ease all;
    display: flex;
    text-align: center;
}

.input_ini:focus {
    outline: none;
    /* box-shadow: 3px 0px 30px rgba(163, 163, 163, 0); */
    box-shadow: 0px 0px 10px 0px rgba(163, 163, 163, 0.4);
}

/* Caja y dimenciones para el ojo de mostrar contraseña */
.show_password_i {
/*     font-size: calc(0.2vh + 0.2vw);
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%; */
    width: 2vw;
    height: 3vh;
    max-width: 3vw;
    max-height: 3vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    

    right: 18.4%;
    bottom: 92%;
    z-index: 100;
    opacity: 1;
}


/* Inputs para la parte de REGISTRO */
.c_input2 {
    display: flex;
    flex-direction: row;
    width: 30%;
    max-width: 40%;
    height: 90%;
    max-height: 90%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    /* Cosasa nuevas que le agregue para las alertas */
    position: relative;
    transition: 0.3s ease all;
}

.input2 {
    width: 100%;
    height: 60%;
    padding: 0%;
    margin: 0%;
    background-color: transparent;
    border-radius: 0.5vw;
    font-size: calc(0.9vh + 0.6vw);
    /* border-color: #44b844; */
    /* border: 60px #44b844; */
    border: 0.4vh solid #44b844;
}

.input2:focus {
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(163, 163, 163, 0.4);
}

/* Contenedor para los TERMINOS Y CONDICIONES */
.c_terminos {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.c_checkbox {
    width: 5%;
    height: 90%;
    max-width: 5%;
    max-height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkbox {
    width: 70%;
    height: 70%;
    max-width: 70%;
    max-height: 70%;
    /* border-radius: 0vw; */
    background-color: #119200;
    border-color: #bb2929;
}

.c_txt_terminos {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Contenedor para el BOTON REGISTRO */
.c_btn_registro {
    width: 100%;
    height: 10%;
    max-height: 10%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Contenedor del los iconos de REGISTRARSE */
.c_iconos {
    width: 100%;
    height: 6%;
    max-width: 100%;
    max-height: 6%;
    display: flex;
    gap: 2%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.c_icono {
    width: 5%;
    height: 80%;
    max-width: 5%;
    max-height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.t_icono {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    display: flex;
}

.asa {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

/* FOOTER */

/*foteer*/

footer {
    width: 100%;
    height: 30vh;
    background-color: #24303c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerF {
    width: 32%;
    height: 28vh;
    background-color: #24303c;
}

.containerF2 {
    width: 32%;
    height: 28vh;
    background-color: #24303c;
    color: white;
}

.containerF3 {
    width: 32%;
    height: 28vh;
}

.Lista {
    background-color: #24303c;
    width: 50%;
    height: 16vh;
    text-align: center;
    position: relative;
    left: 25%;
    top: 10%;
    font-size: calc(0.6vh + 0.6vw);
    font-family: "Courier New", Courier, monospace;
    color: white;
}
.lista1 {
    margin-top: 3%;
}

.Lista2 {
    background-color: #24303c;
    width: 60%;
    height: 20vh;
    text-align: center;
    position: relative;
    left: 20%;
    top: 20%;

    /* font-family: "Courier New", Courier, monospace; */
    color: white;
}

.LetraC {
    font-size: calc(1vh + 1vw);
}

.imgL {
    width: 100%;
    height: 20vh;

    display: flex;
}

.cimgFacebook {
    width: 43%;
    height: 3vh;

    margin-top: 15%;
}

.imgFacebook {
    width: 20%;
    height: 3vh;
}

.cimgWhatsapp {
    width: 43%;
    height: 3vh;

    margin-top: 15%;
}
.imgWhatsapp {
    width: 20%;
    height: 3vh;
    margin-left: 10%;
}
.cimgInstagram {
    width: 43%;
    height: 3vh;

    margin-top: 15%;
}

.imgInstagram {
    width: 20%;
    height: 3vh;
    margin-left: 20%;
}

.Lista3 {
    width: 60%;
    height: 20vh;
    text-align: center;
    position: relative;
    left: 20%;
    top: 20%;

    /* font-family: "Courier New", Courier, monospace; */
    color: white;
}

.imgR {
    width: 100%;
    height: 20vh;

    display: flex;
    flex-direction: column;
}
.cimgTelefono {
    width: 43%;
    height: 3vh;
    display: flex;
    margin-top: 10%;
}

.imgTelefono {
    width: 20%;
    height: 3vh;
    margin-left: 20%;
}

.cimgGmail {
    width: 43%;
    height: 3vh;
    display: flex;
    margin-top: 15%;
}

.imgGmail {
    width: 20%;
    height: 3vh;
    margin-left: 20%;
}

h2 {
    margin-left: 8%;
    font-size: calc(0.6vh + 0.7vw);
    /* font-family: "Courier New", Courier, monospace; */
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__input-error {
    font-size: calc(0.7vh + 0.7vw);
    text-align: center;
    margin: 0%;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

/* Caja Alerta de mensajes dependiendo el campo */
.c_alerta_form-error {
    max-width: 100%;
    max-height: 10%;
    width: 100%;
    height: 10%;
    /* line-height: 45px; */
    background: #f66060;
    border-radius: 3px;
    display: none;
}

.c_alerta_form-error-activo {
    max-width: 100%;
    max-height: 10%;
    width: 100%;
    height: 10%;
    /* line-height: 45px; */
    background: #f66060;
    border-radius: 3px;
    display: block;
}

/* Finaliza aquí */

.olivide_password {
    text-decoration: none;
}

.c_icono_eye_open {
    position: absolute;
    font-size: calc(0.8vh + 0.8vw);
    right: 5%;
    bottom: 20%;

    opacity: 1;
}

.icono_eye_open {
    position: absolute;
    font-size: calc(0.8vh + 0.8vw);
    right: 5%;
    bottom: 20%;
    z-index: 100;
    opacity: 1;
    background-color: #bb2929;
}

.formulario__validacion-estado {
    position: absolute;
    font-size: calc(0.8vh + 0.8vw);
    right: 5%;
    bottom: 20%;
    z-index: 100;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    max-width: 100%;
    max-height: 10%;
    width: 100%;
    height: 10%;
    /* line-height: 45px; */
    background: #f66060;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario__mensaje p {
    max-width: 90%;
    max-height: 90%;
    margin: 0%;
    padding: 0%;
    font-size: calc(1vh + 1.3vw);
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease all;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

/* No necesario por el momento, tengo otra idea para mostrar el mensaje */
.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .letrapeq {
    color: #bb2929;
}

.formulario__grupo-incorrecto .letragra {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .input2 {
    border: 0.4vh solid #bb2929;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}
