*{
    margin: 0%;
    padding: 0%;
   }

      .contenedor_h {
          width: 100vw;
          height: 25vh;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('../Img/Contenedor.jpg');
      }

      .c_imglogo{
        width: 25%;
        height: 38vh;
    
        position: absolute;
        left: 38%;
        top: 1%;
     

      }
      .imglogo{
        width: 100%;
        height: 38vh;
      }


      .contenedor{
        width: 100vw;
        height: 75vh;
      background-color: white;
        display: flex;
        justify-content: center;


      }

      .menu{
        width: 90vw;
        height: 75vh;
        background-color: white;
      }

      .cbuttonp{
        width: 15%;
        height: 10vh;
   
        margin-top: 2%;
        margin-left: 5.5%;
        text-decoration: none;
      }
      .none{
        text-decoration: none;
      }

      .buttonperfil{
        width: 15vw;
        height: 10vh;
       background-color: white;
        display: flex;
        align-items: center;
        border-radius: 4vh;
        border: solid #44B844 0.2vw ;
        box-shadow: gray 0vw 0vw 2vw;
       
      }

      .buttonperfil:hover{
        width: 16vw;
        height: 11vh;
       background-color: #44B844;
        display: flex;
        align-items: center;
        border-radius: 4vh;
        border: solid #44B844 0.2vw ;
        box-shadow: gray 0vw 0vw 2vw;
      }

      .Imgusuario{
        width: 3vw;
        height: 6vh;
        margin-left: 8%;
      }
      .txt_bp{
        margin-top: 1%;
font-size: calc( 1vh + 1vw);
    text-decoration: none;
    color: gray;
   text-align: center;
   margin-left: 19%;


    }

      .menu2{
        margin-top:1% ;
        width: 100%;
        height: 59.5vh;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
      
      }

      .Cb{

        width: 23% ;
        height: 45vh;
        text-decoration: none;
    
       
    
    }
    
    .button{
        width: 100%;
        height: 45vh;
        border-radius: 10%;
        background-color: white;
        border: solid #44B844 0.2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: gray 0vw 0vw 2vw;
        text-decoration: none;
        
    }

    .button:hover {
        width: 101%;
        height: 46vh;
        border-radius: 10%;
        background-color: #44B844;
        border: solid #44B844 0.2vw ;
        display: flex;
        justify-content: center;
        box-shadow: gray 0vw 0vw 2vw;
        text-decoration: none;
        color: black;
       
        
    }
    .Imgmenu2{
        width: 40% ;
        height: 18vh;
      
        margin-top: 7%;
    
    }

    .ctxt_b{
        margin-top: 5%;
        width: 100%;
        height: 20vh;
    
        
    }
 
    .txt_b{
        margin-top: 1%;
font-size: calc( 1vh + 1vw);
    text-decoration: none;
    color: gray;
   text-align: center;


    }

    .lineaadmin{
        width: 90%;
   position: relative;
   left: 5%;
   top: 2%;
 height: 0.7%;
 background-color: #44B844;
 border: none;
    }

    .textoinfo{
        width: 70%;
        height: 20vh;
      
        margin-left: 15%;
        margin-top: 3%;
    }

    .txtinfo{
        font-size: calc(1vh + 0.8vw) ;
        color: gray;
        text-align: center;
    }



  